body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    color: #1f2328;
    background-color: white;
}

a {
    text-decoration: none;
}

.login_div_2 {
    width: 308px;
    margin: 10px auto;
}

.login_div_3 {
    border-radius: 6px 6px 0 0;
    margin-bottom: 16px;
    color: black;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.login_div_3 h1 {
    font-weight: 300;
    font-size: 24px;
}

.login_div_4 {
    padding: 16px;
    font-size: 14px;
    background-color: #f6f8fa;
    border: 1px solid #D4DAE0FF;
    border-top: 1px solid #D8DEE4FF;
    border-radius: 6px;
}

.login_div_5 {
    position: relative;
}

.login_div_7 {
    position: relative;
    align-content: center;
}

.login_div_7 span {
    position: absolute;
    background-color: #bb9f81;
    transform-origin: center;
    transition: transform 0.5s ease;
}

.bottom,
.top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.left,
.right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}


input:focus ~ .top,
input:focus ~ .bottom {
    transform: scaleX(1);
}

input:focus ~ .left,
input:focus ~ .right {
    transform: scaleY(1);
}

.login_div_7 span::before {
    content: '';
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #bb114a, #e5e521, #008dff, #37b922, #ff1b69);
    animation: animate 2s linear infinite;
}

.login_div_7 input:valid~span::before,
.login_div_7 input:focus~span::before {
    left: 0;
}


.login_form_1, .login_form_3 {
    outline: none;
    margin-bottom: 16px;
    display: block;
    width: 100%;
    padding: 5px 12px;
    margin-top: 10px;
    line-height: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    background-position: right 8px center;
}

.login_label_1 {
    display: block;
    margin-bottom: 4px;
}

.login_form_2 {
    background-color: #1f883d;
    padding: 5px 16px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid;
    margin-top: 16px;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 500;
    color: #ffffff;
}

.login_p_1 {
    margin-bottom: 10px;
    display: block;
    padding: 16px 16px;
    text-align: center;
    border: 1px solid #cee1f3;
    border-radius: 6px;
}

.login_a_1 {
    float: right;
    font-size: 14px;
    right: 0;
    top: 0;
    position: absolute;
}

.login_div_6 {
    width: 350px;
}

.login_form_3 {
    float: left;
    width: 65%;
}

.login_form_4 {
    width: 30%;
    float: left;
    background-color: #1f883d;
    padding: 8px 0;
    font-size: 14px;
    line-height: 15px;
    border: 1px solid;
    margin-top: 10px;
    margin-left: 8px;
    display: block;
    text-align: center;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
}

#diff, #length {
    float: right;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

