/* query ¿ªÊ¼ */
.query_body_1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: white;
}

.all_a {
    text-decoration: none;
}

.all_a:link {
    color: blue;
    text-decoration: none;
}

.all_a:active {
    color: red;
}

.all_a:visited {
    color: blue;
    text-decoration-color: hotpink;
}

.all_a:hover {
    color: red;
    text-decoration: underline;
}


.h_1 {
    height: 100px;
    margin: auto;
    line-height: 100px;
    color: black;
    text-align: center;
}

.query_div_1 {
    background-color: #284ae0;
    height: 10px;
}

.div_2 {
    box-sizing: border-box;
}

.query_table_1 {
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    width: 80%;
    border-collapse: collapse;
    align-content: center;
    border: 1px solid black;
    margin: 0 auto;
}

.query_table_1 td, .query_table_1 th, #tb_2 tr {
    font-size: 1em;
    border: 1px solid #6e6efd;
    padding: 3px 7px 2px 7px;
}

.query_table_1 th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

.query_from_1 td {
    text-align: center;
}

.query_from_2 {
    background-color: #25933f;
    padding: 5px 16px;
    font-size: 13px;
    border: 1px solid;
    display: block;
    width: 80%;
    text-align: center;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 500;
    color: #ffffff;
    margin: 0 auto;
}

.query_from_2:hover {
    background-color: #166422;
    font-family: inherit;
    border-radius: 6px;
    color: #ffffff;
}

.query_from_3 {
    float: left;
    margin-left: 0;
    width: 10%;
}

.query_from_4 {
    float: left;
    margin-left: 30px;
    width: 20%;
    padding: 5px 5px;
}

.query_from_5 {
    display: block;
    margin-bottom: 4px;
}

.query_from_6 {
    margin-bottom: 3px;
    display: block;
    width: 100%;
    padding: 5px 5px;
    line-height: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    background-position: right 8px center;
}

.query_div_2 {
    width: 308px;
    margin: 40px auto;
}


.query_div_3 {
    padding: 16px;
    font-size: 14px;
    background-color: #f6f8fa;
    border: 1px solid #D4DAE0FF;
    border-top: 1px solid #D8DEE4FF;
    border-radius: 6px;
}






