/* query 开始 */
#body_1 {
    background-color: antiquewhite;
}

.all_a {
    text-decoration: none;
}

.all_a:link {
    color: blue;
    text-decoration: none;
}

.all_a:active {
    color: red;
}

.all_a:visited {
    color: blue;
    text-decoration-color: hotpink;
}

.all_a:hover {
    color: red;
    text-decoration: underline;
}


#h_1 {
    height: 100px;
    background: url(../img/bg.jpg);
    margin: auto;
    line-height: 100px;
    color: white;
    text-align: center;
}

#div_1 {
    background-color: #284ae0;
    height: 10px;
}

.div_2 {
    box-sizing: border-box;
}

.tb_1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    width: 100%;
    border-collapse: collapse;
    align-content: center;
    border: 1px solid black;
}

.tb_1 td, .tb_1 th, #tb_2 tr {
    font-size: 1em;
    border: 1px solid #6e6efd;
    padding: 3px 7px 2px 7px;
}

.tb_1 th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

.tr_1 td {
    text-align: center;
}

/*  query结束 */

/*---------------------------------------------------------------------*/

/* addForm开始 */
#body_2 {
    background-color: white;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#tb_2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    width: 50%;
    border-collapse: collapse;
    align-content: center;
    border: 1px solid black;
    margin: 0 auto;
}


/* addForm结束 */

